Source: pkg-kde-tools
Section: devel
Priority: extra
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Uploaders: Sune Vuorela <debian@pusling.com>, Modestas Vainius <modestas@vainius.eu>
DM-Upload-Allowed: yes
Vcs-Git: git://git.debian.org/git/pkg-kde/pkg-kde-tools.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/pkg-kde-tools.git;a=summary

Package: pkg-kde-tools
Architecture: all
Depends: ${perl:Depends}
Suggests: debhelper (>= 7.3.16), cdbs, dpkg-dev (>= 1.15.0)
Breaks: dpkg-dev (<< 1.15.3), kdelibs5-dev (<< 4:4.2.2)
Description: common makesnippets and build scripts for KDE4 related packages
 This package contains makefiles setting the default build arguments for KDE4
 packages.
 .
 Currently, it contains a few makesnippets, and pkgkde-symbolshelper tool,
 but it will grow larger in the future.
 .
 NOTE: if you use cdbs or debhelper, you need to build-depend on those as well,
 as this package is expected to be useful in cases without debhelper or cdbs.
