#!/usr/bin/make -f
build: 
	#nop - just a set of scripts.

clean: 
	dh_testdir
	dh_testroot
	dh_clean 

binary-arch: 
	#policy requires this.

binary-indep:
	dh_testdir
	dh_testroot
	$(MAKE) install DESTDIR=$(CURDIR)/debian/`dh_listpackages | head -n1`
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install -X.svn
	dh_installman
	dh_link
	dh_perl
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: clean binary-indep binary-arch binary build
